<div class="row justify-content-center mt-5">
  <div class="col-md-6 col-sm-8 col-8">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Table:</label>
        <select
          #tableSelect
          class="form-control"
          formControlName="table"
          (change)="onChange(tableSelect.value)"
        >
          <option [disabled]="checkActiveTable('Table 1')" value="Table 1">
            Table 1
          </option>
          <option [disabled]="checkActiveTable('Table 2')" value="Table 2">
            Table 2
          </option>
          <option [disabled]="checkActiveTable('Table 3')" value="Table 3">
            Table 3
          </option>
          <option [disabled]="checkActiveTable('Table 4')" value="Table 4">
            Table 4
          </option>
          <option [disabled]="checkActiveTable('Table 5')" value="Table 5">
            Table 5
          </option>
          <option [disabled]="checkActiveTable('Table 6')" value="Table 6">
            Table 6
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Seating:</label>
        <select
          class="form-control"
          formControlName="seat"
          [attr.disabled]="this.selectedTable ? null : ''"
        >
          <option [disabled]="checkActiveSeats('Seat 1')" value="Seat 1">
            Seat 1
          </option>
          <option [disabled]="checkActiveSeats('Seat 2')" value="Seat 2">
            Seat 2
          </option>
          <option [disabled]="checkActiveSeats('Seat 3')" value="Seat 3">
            Seat 3
          </option>
          <option [disabled]="checkActiveSeats('Seat 4')" value="Seat 4">
            Seat 4
          </option>
        </select>
      </div>

      <div class="form-group">
        <label>Appetizer:</label> <br />
        <select class="form-control" formControlName="appetizer">
          <option value="French Fries">French Fries</option>
          <option value="Hash Browns">Hash Browns</option>
          <option value="Tater Tots">Tater Tots</option>
          <option value="Salad">Salad</option>
          <option value="Bread Sticks">Bread Sticks</option>
          <option value="Nachos">Nachos</option>
          <option value="None">None</option>
        </select>
      </div>

      <div class="form-group">
        <label>Drink:</label>
        <select class="form-control" formControlName="drink">
          <option value="Water">Water</option>
          <option value="Coke">Coke</option>
          <option value="Diet Coke">Diet Coke</option>
          <option value="Pepsi">Pepsi</option>
          <option value="Diet Pepsi">Diet Pepsi</option>
          <option value="Sprite">Sprite</option>
          <option value="Diet Sprite">Diet Sprite</option>
          <option value="Ice Tea">Ice Tea</option>
          <option value="Orange Juice">Orange Juice</option>
          <option value="None">None</option>
        </select>
      </div>

      <div class="form-group">
        <label>Main Course:</label>
        <select class="form-control" formControlName="mainCourse">
          <option value="Pizza">Pizza</option>
          <option value="Hamburger">Hamburger</option>
          <option value="Poutine">Poutine</option>
          <option value="Tacos">Tacos</option>
          <option value="Chicken Burger">Chicken Burger</option>
          <option value="Sushi">Sushi</option>
          <option value="Mac and Cheese">Mac and Cheese</option>
          <option value="Steak">Steak</option>
          <option value="Wings">Wings</option>
          <option value="None">None</option>
        </select>
      </div>

      <div class="form-group">
        <label>Urgent:</label>
        <input
          class="form-control"
          type="checkbox"
          formControlName="urgency"
          required
        />
      </div>

      <div class="form-group">
        <label>Notes:</label>
        <input
          class="form-control"
          type="text"
          formControlName="notes"
          required
        />
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">
          Add Order
        </button>
      </div>
    </form>
  </div>
</div>
